.channel-user-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 35px;
  @media only screen and (max-width: 605px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.channel-user__info-wrapper {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 605px) {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.channel-user__user-img {
  margin-right: 14px;
}

.channel-user__user-name {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.channel-user__user-subscribed {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.subscribe-btn {
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #ff0000;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 20px;
}
