.channel-main {
  display: flex;
  margin-right: 20px;
  @media only screen and (max-width: 605px) {
    margin-right: 0;
  }
}

.channel-main__img-wrapper {
  position: relative;
  z-index: 1;
  margin-right: 30px;
  @media only screen and (max-width: 1450px) {
    margin-right: 20;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 605px) {
    width: 250px;
  }
}

.channel-main__img {
  @media only screen and (max-width: 605px) {
    width: 250px;
    height: 150px;
  }
}

.channel-main__time-span {
  position: absolute;
  top: 215px;
  left: 480px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
  background-color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 12px;
  @media only screen and (max-width: 605px) {
    top: 116px;
    left: 195px;
  }
}

.channel-main__info-wrapper {
  width: 100%;
  max-width: 548px;
  @media only screen and (max-width: 605px) {
    width: 250px;
  }
}

.channel-main__heading {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #19202c;
}

.channel-main__paragraph {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.channel-main__view-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #c2c2c2;
}

@media only screen and(max-width:1450px) {
  .channel-main {
    flex-direction: column;
  }
}
