.channel-video__heading {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  @media only screen and (max-width: 605px) {
    text-align: center;
  }
}
