.subscription__header {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 33px;
}

.subscription__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 30px;
}

.subscription__img {
  margin-right: 10px;
}

.subscription__span {
  font-size: 16px;
  line-height: 20px;
  color: #898989;
}

.subcription__inner {
  margin-bottom: 50px;
}
