.channel-nav {
  margin-bottom: 30px;
}
.channel-nav__list {
  display: flex;
  list-style: none;
}

.channel-nav__item {
  margin-right: 69px;
}

.channel-nav__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
