.channel-intro-wrapper {
}

.channel-intro {
  width: 1100px;
  background-image: url(../../Assests/Images/channel-intro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 14px;
}
