.dollie {
  margin-bottom: 50px;
}

.dollie__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  @media only screen and (max-width: 610px) {
    justify-content: center;
  }
}

.dollie__img {
  margin-right: 20px;
}

.dollie__span {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.dollie__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @media only screen and (max-width: 610px) {
    justify-content: center;
  }
}

.dollie__item {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: 100%;
  max-width: 250px;
  margin-bottom: 10px;
}

.dollie__item__img-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.dollie__item__img {
  border-radius: 14px;
}

.dollie__item__span {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}

.dollie__item__time-span {
  padding: 3px 9px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #ffffff;
}

.dollie__item__wrappper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}
