.header {
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__hamburger {
  margin-right: 28px;
}

.header__logo {
  margin-right: 60px;
}

.search-wrapper {
  width: 100%;
  max-width: 830px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  mix-blend-mode: normal;
  border-radius: 22px;
  margin-right: auto;
  padding: 12px 12px 12px 23px;
}

.header__search-input {
  margin-right: 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #30384c;
  background-color: #f9f9f9;
  mix-blend-mode: normal;
  outline: none;
  border: none;
}

.header__search-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #30384c;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.header__search-icon {
}

.settings-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.settings-wrapper__btn {
  margin-right: 50px;
}

.mobile-search {
  display: none;
}

@media only screen and (max-width: 900px) {
  .settings-wrapper__btn {
    margin-right: 20px;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__hamburger {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 580px) {
  .settings-wrapper {
    display: none;
  }

  .settings-wrapper__btn {
    margin-left: 20px;
    margin-right: 10px;
  }

  .header__hamburger {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .search-wrapper {
    display: none;
  }

  .mobile-search {
    display: block;
  }

  .header__logo {
    margin-right: auto;
  }
}
