*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Futura PT", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #333333;
}

img {
  // max-width: 100%;
  // height: auto;
  vertical-align: middle;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1940px;
  padding: 0 10px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
