@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./Assests/Fonts/mulish-v5-latin-regular.woff2") format("woff2"),
    url("./Assests/Fonts/mulish-v5-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("./Assests/Fonts/mulish-v5-latin-700.woff2") format("woff2"),
    url("./Assests/Fonts/mulish-v5-latin-700.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", "Futura PT", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #333333;
}

img {
  // max-width: 100%;
  // height: auto;
  vertical-align: middle;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  max-width: 1940px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 245px;

  @media only screen and(max-width:945px) {
    display: none;
  }
}

.main {
  display: flex;
}

.channel-wrapper {
  width: 100%;
}

.channel-user-component-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  @media only screen and (max-width: 605px) {
    justify-content: center;
  }
}
